<div class="container">
    <div class="card">
        <div class="d-flex justify-content-between">
            <h2 class="card-title">{{category.nome}}</h2>
            <button class="add-button" (click)="openCreateModal()"><i class="bi bi-plus-lg"></i></button>
        </div>
        <table class="user-table">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let warning of warnings">
                    <td>
                        <div class="d-flex justify-content-between">
                            <p>{{ warning.descricao }}</p>
                            <div>
                                <button
                                class="action-btn delete-btn"
                                [disabled]="!user.admin"
                                [ngClass]="{
                                    'remove-button-disabled': !user.admin
                                }"
                                (click)="remove(warning.id!)"
                                >
                                    Excluir
                                </button>
                                <button
                                    class="action-btn delete-btn"
                                    [disabled]="!user.admin"
                                    [ngClass]="{
                                        'remove-button-disabled': !user.admin
                                    }"
                                    (click)="openEditModal(warning)"
                                    routerLinkActive="router-link-active"
                                >
                                    Editar
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
