<div class="container">
    <div class="card">
        <h2 class="card-title">{{category.nome}}</h2>
        <table class="user-table">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let warning of warnings">
                    <td>{{ warning.descricao }}</td>
                    <td>
                        <button
                            class="action-btn delete-btn"
                            [disabled]="!user.admin"
                            [ngClass]="{
                                'remove-button-disabled': !user.admin
                            }"
                            (click)="remove(warning.id!)"
                        >
                            Excluir
                        </button>
                    </td>
                    <td>
                        <button
                            class="action-btn delete-btn"
                            [disabled]="!user.admin"
                            [ngClass]="{
                                'remove-button-disabled': !user.admin
                            }"
                            [routerLink]="['/warning/edit/' + warning.id]"
                            routerLinkActive="router-link-active"
                        >
                            Editar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
