<body>
    <div
        class="d-flex justify-content-center align-items-center vh-100 bg-gradient"
    >
        <div class="card shadow-lg p-5 login-card">
            <h1 class="text-center mb-4 text-primary">Meu Perfil</h1>
            <div class="profile-info">
                <div class="profile-item">
                    <label>Nome:</label>
                    <p>{{ user.nome }}</p>
                </div>
                <div class="profile-item">
                    <label>E-mail:</label>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
    <mat-sidenav-container class="example-container">
        <mat-sidenav
            #sidenav
            mode="side"
            [(opened)]="opened"
            class="custom-nav"
        >
            <div class="sidenav-inner">
                <div class="options">
                    <p class="title">Opções</p>
                    <button
                        [routerLink]="['/user/edit/' + user.email]"
                        routerLinkActive="router-link-active"
                        class="edit-button"
                    >
                        Editar Perfil
                    </button>
                    <button
                        [routerLink]="['/register']"
                        routerLinkActive="router-link-active"
                        class="edit-button"
                        *ngIf="user.admin"
                    >
                        Criar novo usuário
                    </button>
                    <button
                        [routerLink]="['/user']"
                        routerLinkActive="router-link-active"
                        class="edit-button"
                        *ngIf="user.admin"
                    >
                        Listar todos os usuários
                    </button>
                    <button
                        [routerLink]="['/category/all']"
                        routerLinkActive="router-link-active"
                        class="edit-button"
                        *ngIf="user.admin"
                    >
                        Listar todas as categorias
                    </button>
                    <button
                        [routerLink]="['/category']"
                        routerLinkActive="router-link-active"
                        class="edit-button"
                        *ngIf="user.admin"
                    >
                        Criar Nova Categoria
                    </button>
                    <p class="title">Categorias de Avisos</p>
                    <button
                        *ngFor="let category of categories"
                        [routerLink]="['/warning/' + category.id]"
                        routerLinkActive="router-link-active"
                        class="edit-button"
                    >
                        {{category.nome}}
                    </button>
                </div>
                <div>
                    <button
                        (click)="delete(user.email)"
                        class="remove-button"
                        *ngIf="user.admin"
                    >
                        Excluir Perfil
                    </button>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <p class="sidenav-buttons">
                <button mat-button (click)="sidenav.toggle()">
                    <i class="bi bi-x-lg" *ngIf="opened"></i>
                    <i class="bi bi-list" *ngIf="!opened"></i>
                </button>
                <button mat-button (click)="logout()">
                    <i class="bi bi-box-arrow-right" style="color: red;"></i>
                </button>
            </p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>
