<body>
    <!-- <div class="header">
        <button class="back-button" [routerLink]="['/']" routerLinkActive="router-link-active"><i class="bi bi-arrow-bar-left"></i></button>
    </div> -->
    <div class="profile-card">
        <h2 class="profile-title">Meu Perfil</h2>
        <div class="profile-info">
            <div class="profile-item">
                <label>Nome:</label>
                <p>João da Silva</p>
            </div>
            <div class="profile-item">
                <label>E-mail:</label>
                <p>joao.silva email.com</p>
            </div>
            <div class="profile-item">
                <label>Data de Cadastro:</label>
                <p>01/01/2023</p>
            </div>
            <button class="edit-button">Editar Perfil</button>
        </div>
    </div>
</body>
